@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

.el-header, .el-footer {
  background-color: #f2f2f2;
  color: #6c6c76;
  text-align: center;
  line-height: 60px;
}
.is-gray {color: gray}
.is-red {color: red}
.is-green {color: green}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sub-header {
  display: flex;
  flex-direction: row;
  color: #6c6c76;
}


.header a {
  color: #3d98d3
}

.header button {
  margin-left: 15px;
}

.sub-header span {
  margin: 5px 20px 5px 0;
}

.tab-container{
  padding: 20px;
}

.li {
  margin-left: 5px;
}

H1 {
  font-size: 24px;
  color: #141419;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 10px;
}

.el-tag .el-tag-content {
  max-width: 210px;
  overflow:hidden;
  display: inline-block;
}

.el-tag .el-tag-content + i {
  top: -6px;
}

.yaml-editor{
  height: 80% !important;
  position: relative;
}
.yaml-editor  .CodeMirror {
  height: auto;
  max-height: 500px !important;
  //min-height: 300px;
}
.yaml-editor  .CodeMirror-scroll{
  max-height: 500px !important;
  //min-height: 300px;
}
.yaml-editor .cm-s-rubyblue span.cm-string {
  color: #F08047;
}
